<ion-content>
  <div class="login-container">
    <ion-row class="ion-text-center ion-padding title">
      <ion-col>
        Welcome
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="assets/undraw_upload_87y9.png">
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding login-btn">
      <ion-col>
        <ion-button expand="block" color="white" fill="outline" (click)="googleLogin()">
          <ion-icon src='assets/google.svg' class="ion-padding" color="primary"></ion-icon>
          <ion-text color="primary" style="text-transform: none;">
            Sign in with Google
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>