<ion-content>
  <div class="container">
    <ion-item lines="none" class="ion-margin-top">
      <ion-label mode="md">
        <h1><strong>Create new Task</strong></h1>
      </ion-label>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-input [(ngModel)]="name" placeholder="Task Name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
      <ion-datetime class="ion-no-padding" displayFormat="MMMM DD YYYY" type="date" [(ngModel)]="taskDate">
      </ion-datetime>
      <ion-icon name="calendar" slot="end" color="light"></ion-icon>
    </ion-item>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-label class="ion-margin">Priority</ion-label>
        <ion-buttons mode="md" class="ion-margin-top" style="justify-content: center;">
          <ion-button
            [ngClass]="isClick1 ? 'select-btn  priority-btn ion-text-capitalize': 'priority-btn ion-text-capitalize'"
            fill="outline" (click)="changePriority('high')">
            <ion-label class="priority-lbl">High</ion-label>
          </ion-button>
          <ion-button
            [ngClass]="isClick2 ? 'select-btn  priority-btn ion-text-capitalize': 'priority-btn ion-text-capitalize'"
            fill="outline" (click)="changePriority('medium')">
            <ion-label class="priority-lbl">Medium</ion-label>
          </ion-button>
          <ion-button
            [ngClass]="isClick3 ? 'select-btn priority-btn ion-text-capitalize': 'priority-btn ion-text-capitalize'"
            fill="outline" (click)="changePriority('low')">
            <ion-label class="priority-lbl">Low</ion-label>
          </ion-button>
          <ion-button
            [ngClass]="isClick4 ? 'select-btn  priority-btn ion-text-capitalize': 'priority-btn ion-text-capitalize'"
            fill="outline" (click)="changePriority('very low')">
            <ion-label class="priority-lbl">Very Low</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-footer class="ion-no-border">
      <ion-button class="task-button" (click)="addTask()">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-text class="ion-text-capitalize">
          Create Task
        </ion-text>
      </ion-button>
    </ion-footer>
  </div>
</ion-content>